@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgba(242, 243, 244);
}
@media (min-width: 768px) and (max-width: 991px) {
	.nav {
		padding-left: 0px;
	}
	.navbar-header {
		float: none;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border-color: #101010;
	}

	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
		margin-right: -15px;
		margin-left: -15px;
	}

	.navbar-collapse {
		padding-right: 15px;
		padding-left: 15px;
		overflow-x: visible;
		-webkit-overflow-scrolling: touch;
		border-top: 1px solid transparent;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	}

	.navbar-brand {
		float: left;
		height: 50px;
		padding: 15px 30px;
		font-size: 18px;
		line-height: 20px;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
		overflow-y: auto !important;
	}

	.navbar-nav {
		margin: 7.5px -15px;
	}

	.navbar-nav {
		margin: 0;
		float: none !important; 
	}

	.navbar-nav li {
		float: none;
	}

	.navbar-nav li > .dropdown-menu {
		border: 0;
		float: none;
		width: auto;
		position: static;
	}

	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 20px;
	}

	.open>.dropdown-menu {
		display: block;
	}
	.navbar-nav>li>.dropdown-menu {
		margin-top: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #9d9d9d;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #FFF;
		background: transparent;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
		background-color: #080808;
	}
	.navbar-inverse .navbar-nav>li>a {
		text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	}
}

/*.navbar-nav.navbar-right:last-child {
	margin-right: 0px;
	}*/
	/*ABIERTOS*/
	a.nave{
		color: #fff;
	}

	a.nave:hover{
		color: #fff;
	}
	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
		background-color: inherit;
		border-color: inherit;
	}

	.padding-nav {
		padding-top: 53px;
	}

	#head{
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		/*background-color: #343a40;
		border-color: #343a40;*/
	}
	#pan{
		background-color: #fff;
	}
	#pan2{
		padding-left: 0px;
		padding-right: 0px;
	}
	#linea{
		padding-left: 0px;
		padding-right: 0px;
	}
	.admin1{
		padding-top: 0px;
	}
	.admin2{
		padding-top: 0px;
	}
	#admin3{
		padding-top: 0px;
	}
	.admin4{
		padding-top: 0px;
	}
	#admin5{
		padding-top: 0px;
	}
	.admin6{
		padding-top: 15px;
	}
	#admin7{
		padding-top: 0px;
	}
	#admin8{
		padding-top: 5px;
	}
	#pie{
		background-color: #C92524;
		padding: 10px;
	}
	.panel{
		background-color: #FFF;
	}
	.container{
		color: #000000;
	}
	#tbl{
		background-color: #FFFFFF;
	}
	#tblem{

	}
	#txtNotas{
		display: block;
		box-sizing: padding-box;
		resize: vertical;
		overflow: hidden;

		border: 0;
		height: auto;
		min-height: 60px;
		background-color: #FCF3CF;
	}
	#txtTexto{
		display: block;
		box-sizing: padding-box;
		resize: vertical;
		overflow: hidden;

		border: 0;
		height: auto;
		min-height: 60px;
		background-color: #F5F5F5;
	}
	.margen{
		padding-left: 15px;
		padding-right: 15px;
	}
	.margen2{
		padding-left: 0px;
		padding-right: 0px;
	}
	.containerperso{
		padding-left: 0px;
		padding-right: 0px;
	}

	input#buscar[type=text] {
		width: 100px;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 3px;
		font-size: 14px;
		background-color: white;
		/*background-image: url('../../assets/imagenes/searchicon.png');*/
		background-position: 8px 8px;
		background-size: 16px;
		background-repeat: no-repeat;
		padding: 0px 0px 0px 30px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
	}

	input#buscar[type=text]:focus {
		width: 100%;
	}

	input#txtBuscar[type=text] {
		width: 100px;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 3px;
		font-size: 14px;
		background-color: white;
		/*background-image: url('../../assets/imagenes/searchicon.png');*/
		background-position: 8px 8px;
		background-size: 16px;
		background-repeat: no-repeat;
		padding: 0px 0px 0px 30px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
	}

	input#txtBuscar[type=text]:focus {
		width: 100%;
	}

	.padding-nav {
		padding-top: 53px; 
	}

	.padding-nav2 {
		padding-top: 53px; 
	}

	.alineacion {
		text-align: left;
	}

	/*MEDIA QUERIES*/

	@media (min-width: 991px) and (max-width: 1237px) {
		.padding-nav {
			padding-top: 100px;
		}
		.padding-nav2 {
			padding-top: 105px;
		}
		.alineacion {
			text-align: center;
		}
	}
	@media (min-width: 768px) and (max-width: 990px) {

		.padding-nav {
			padding-top: 50px;
		}
		.padding-nav2 {
			padding-top: 50px;
		}
		.alineacion {
			text-align: center;
		}
	}

	@media (max-width: 767px) {

		.padding-nav {
			padding-top: 50px;
		}
		.alineacion {
			text-align: center;
		}
	}