div.horizontal{
	overflow: auto;
	white-space: nowrap;
}
div.horizontal button{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin-left: 0px;
	margin-right: 0px;
}
input.oculto[type="radio"]{
	visibility: hidden;
}

.btn-pressed {
	background-color: #00a65a;
	border-color: #00a65a; 
}

label.btn-pressed>i {
	color: #fff;
}
label.btn-pressed>span {
	color: #fff;
}
ul.pagination>li>a{
	cursor: pointer;
	background-color: #fff;
	border-color: #ddd;	
}
ul.pagination>li#previous>a{
	color: #000;
	background-color: #fff;
	border-color: #ddd;
}