.formulario label {
	display: inline-block;
	cursor: pointer;
	background-color: rgba(0,0,0,.1);
	color: #0074D9;
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.formulario label:hover {
	background: rgba(0, 116, 217, 0.1);
}

.formulario input[type="radio"] {
	display: none;
}

.formulario input[type="radio"]:checked + label {
	padding: 5px 15px;
	background: #0074D9;
	border-radius: 2px;
	color: #fff;
}
.boton{
	border-radius: 88px 88px 88px 88px;
	-moz-border-radius: 88px 88px 88px 88px;
	-webkit-border-radius: 88px 88px 88px 88px;
	border: 0px solid #000000;
}
.progress-bar {
	border-right: solid 5px #FFF;
}
.progress-bar:last-child {
	border: none; 
}
.yellow {
	color: #DAA520;
}

.dropdown-menu{
	min-width: 90px; !important;
}
input.oculto[type="radio"]{
	visibility: hidden;
}