div.horizontal{
		overflow: auto;
		white-space: nowrap;
	}
	div.horizontal button{
		display: inline-block;
		text-align: center;
		text-decoration: none;
		margin-left: 0px;
		margin-right: 0px;
	}
	.Notas{
		display: block;
		box-sizing: padding-box;
		resize: vertical;
		overflow: hidden;

		border: 0;
		height: auto;
		min-height: 60px;
		background-color: #FCF3CF;
	}
</style>