@font-face {
	font-family: "FontAwesome";
	font-weight: normal;
	font-style : normal;
	src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
	src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
	url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
	url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
	url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
	url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

body {
	background: #f4f4f4;
}
.navbar {
    margin-bottom: 0px;
}
p {
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}
.wrapper {
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

a.lista, a.lista:hover, a.lista:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

#navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none; 
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #2C3E50;
	margin: 5px 0;
}

.table-responsive {
	background-color: #FFF;
}


/*  -----------------------------------------------------
    SIDEBAR STYLE
    ----------------------------------------------------- */
    .wrapper {
    	display: flex;
    	align-items: stretch;
    	perspective: 1500px;
    }

    #sidebar {
    	min-width: 250px;
    	max-width: 250px;
    	background: #34495E;
    	color: #fff;
    	transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    	transform-origin: bottom left;
    }

    #sidebar.active {
    	margin-left: -250px;
    	transform: rotateY(100deg);
    }

    #sidebar .sidebar-header {
    	padding: 20px;
    	background: #2C3E50;
        border-bottom: 1px solid #34495E;
    }

    #sidebar ul.components {
    	padding: 0px 0;
    	/*border-bottom: 1px solid #47748b;*/
    }

    #sidebar ul p {
    	color: #fff;
    	padding: 10px;
    }

    #sidebar ul li a.lista {
    	padding: 10px;
    	font-size: 1.1em;
    	display: block;
    }
    #sidebar ul li a.lista:hover {
    	color: #fff;
    	background: #2E4053;
    }

    /*#sidebar ul li.active > a.lista, a.lista[aria-expanded="true"] {
    	color: #fff;
    	background: #2E4053;
        }*/


        a.lista[data-toggle="collapse"] {
         position: relative;
     }

     a.lista[aria-expanded="false"]::before, a.lista[aria-expanded="true"]::before {
         content: '\f107';
         display: block;
         position: absolute;
         right: 20px;
         font-family: 'FontAwesome';
         font-size: 0.9em;
     }

     a.lista[aria-expanded="true"]::before {
         content: '\f106';
     }


     ul ul a.lista {
         font-size: 0.9em !important;
         padding-left: 30px !important;
         background: #34495E;
     }

     ul.CTAs {
         padding: 20px;
     }

     ul.CTAs a {
         text-align: center;
         font-size: 0.9em !important;
         display: block;
         border-radius: 5px;
         margin-bottom: 5px;
     }

     a.download {
         background: #fff;
         color: #7386D5;
     }

     a.article, a.article:hover {
         background: #6d7fcc !important;
         color: #fff !important;
     }

/* ---------------------------------------------------
    CONTENT STYLE
    ----------------------------------------------------- */
    #content {
    	padding: 20px;
    	min-height: 100vh;
    	transition: all 0.3s;
    	width: 100%;
    }

    #sidebarCollapse {
    	width: 40px;
    	height: 40px;
    	background: #f5f5f5;
    }

    #sidebarCollapse span {
    	width: 80%;
    	height: 2px;
    	margin: 0 auto;
    	display: block;
    	background: #555;
    	transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    	transition-delay: 0.2s;
    }

    #sidebarCollapse span:first-of-type {
    	transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse span:nth-of-type(2) {
    	opacity: 0;
    }
    #sidebarCollapse span:last-of-type {
    	transform: rotate(-45deg) translate(1px, -1px);
    }
    #sidebarCollapse.active span {
    	transform: none;
    	opacity: 1;
    	margin: 5px auto;
    }


/* ---------------------------------------------------
    MEDIAQUERIES
    ----------------------------------------------------- */
    @media (max-width: 768px) {
    	#sidebar {
    		margin-left: -250px;
    		transform: rotateY(90deg);
    	}
    	#sidebar.active {
    		margin-left: 0;
    		transform: none;
    	}
    	#sidebarCollapse span:first-of-type,
    	#sidebarCollapse span:nth-of-type(2),
    	#sidebarCollapse span:last-of-type {
    		transform: none;
    		opacity: 1;
    		margin: 5px auto;
    	}
    	#sidebarCollapse.active span {
    		margin: 0 auto;
    	}
    	#sidebarCollapse.active span:first-of-type {
    		transform: rotate(45deg) translate(2px, 2px);
    	}
    	#sidebarCollapse.active span:nth-of-type(2) {
    		opacity: 0;
    	}
    	#sidebarCollapse.active span:last-of-type {
    		transform: rotate(-45deg) translate(1px, -1px);
    	}

    }

    .padding-nav2 {
        padding-top: 53px; 
    }

    /*MEDIA QUERIES*/

    @media (min-width: 991px) and (max-width: 1237px) {        
        .padding-nav2 {
            padding-top: 105px;
        }
    }
    @media (min-width: 768px) and (max-width: 990px) {

        .padding-nav2 {
            padding-top: 50px;
        }
    }

    @media (max-width: 767px) {
        .padding-nav2 {
            padding-top: 50px;
        }
    }