a.meses {
	color: #2C3E50;
}

hr.style1{
	border-top: 1px solid rgba(69, 85, 95);
}
/*padding-top: 5px;
    
    */
.bs-callout {
    padding: 8px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #eee;
    border-left-width: 7px;
    border-radius: 5px;
    text-align: center;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #912020;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #912020;
}
.bs-callout-danger h5 {
    color: #912020;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}