
#orgChart{
  width: auto;
  height: auto;
}

#orgChartContainer{

  overflow: auto;
  /*background: #eeeeee;*/
}

div.orgChart {
  margin : 10px;
  padding : 0px;
}

div.orgChart h2 {
  margin : 0px;
  font-size : 11px;
  font-weight: normal;
  min-height: 10px;
}

div.orgChart h2:hover {
  /*background: #67a6dc;*/
  cursor: text;
}

div.orgChart ul {
  list-style : none;
  margin : 4px;
  padding : 0px;
  font-size : 0.8em;
  text-align : left;
  background-color: red;
  
}

div.orgChart ul.stack,
div.orgChart ul.stack ul { text-align : center; }

div.orgChart table { width : 100%; }

div.orgChart tr.lines td.line {
  width : 0px;
  height : 20px;
}

div.orgChart tr.lines td.top { border-top: 1px solid #34495e !important; }

div.orgChart tr.lines td.left { border-right: 1px solid #34495e !important; }

div.orgChart tr.lines td.right {border-left: 1px solid #34495e !important; }

div.orgChart tr.lines td.half { width : 50%; }

div.orgChart td {
  text-align : center;
  vertical-align : top;
  padding : 0px 2px;
}

#btnExportar{
  width: auto;
  display: inline-block;
  margin: 15px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius : 4px;
}

#divNivel{
  margin-left: 15px;
  margin-top: 15px;
  margin-right:15px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius : 4px;
}

div.divInfo{
  font-size: 12px;
  color:black;
  background-color: #fff;
  position: relative;
  border : 1px solid #e7e7e7;
  display: inline-block;
  padding :11px;
  margin: 0 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  height: auto;
  width: auto;
  border-radius : 4px;
}


div.node0{
  width: 120px;
}

div.node{
 color:white;
 position: relative;
 border : 1px solid #e7e7e7;
 display: inline-block;
 padding :11px;
 margin: 0 10px;
 cursor: pointer;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 height: auto;
 border-radius : 4px;
}

div.orgChart .node:hover .org-add-button
{
  display: block;
}

div.orgChart .node:hover .org-del-button
{
  display: block;
}

.controls {
  position: absolute;
  display: none;
  top: 0;
  right: -50px;
  background: #fff;
  z-index: 0;
  padding: 1px 28px 6px 0px;
}

.org-input { width: 90px; }

.org-confirm-del-button { display: none; }


.org-add-button {
 width: 20px;
 height: 20px;
 position: absolute;
 display: none;
 top: 0;
 right:-21px;
 font-size: 12px;
}

.org-del-button {
  width: 20px;
  height: 20px;
  position: absolute;
  display: none;
  top: 1.3em;
  right: -21px;
  font-size: 12px;
}

.org-add-button:hover{
  background-color: #eef;
  border-radius: 2px;
  cursor: pointer;
  color:#337ab7;
}

.org-del-button:hover {
  background-color: #eef;
  border-radius: 2px;
  cursor: pointer;
  color:#d9534f;
}

#icon-control-add{
  margin-top: -56px;
  margin-bottom: 5px;
}

#icon-control-del{
  margin-top: -56px;
  margin-bottom: 4px;
}



